/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav 
{
    position: sticky;
    top: 0; 
    background-color: #ffffff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    padding: 10px 20px;
}

/* Navigation Bar */
.nav-bar 
{
    background-color: #2980b9; 
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-links li 
{
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover 
{
    color: #f5f8fa; /* Lighter color on hover */
}

/* Hamburger Menu Styles */
.hamburger-menu 
{
    display: none; /* Hidden by default on larger screen*/
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hamburger-menu span 
{
    display: block;
    height: 4px;
    width: 100%;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

/* Navigation Menu Styles */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #2980b9; 
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #1f6f92; 
}

body 
{
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif; 
    color: #333; 
    padding: 0;
    margin: 0;
}

/* Form Styles */
form {
    background-color: #ffffff; 
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 80px auto; 
    text-align: center;
}
/* Form Styles */
h1 {
    margin: 20px 0;
    font-size: 2em;
    text-align: center;
    color: #34495e; 
}

form {
    background-color: #ffffff; 
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 40px auto; 
    text-align: center;
}

p {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #7f8c8d; 
}

select, input[type="number"], button 
{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #d1d8e0; 
    font-size: 1em;
    background-color: #f5f8fa; 
}

select:focus, input[type="number"]:focus, button:focus {
    outline: none;
    border-color: #2980b9;
}

button 
{
    background-color: #2980b9;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

button:hover 
{
    background-color: #1f6f92;
}

#convertedVal 
{
    background-color: #f7f9fa; 
    color: #555; 
    cursor: not-allowed;
}

footer 
{
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #7f8c8d; 
}

a 
{
    color: #3498db; 
    text-decoration: none;
}

a:hover 
{
    text-decoration: underline;
}



/* Responsive Design */
@media (max-width: 768px) {
    
    .hamburger-menu {
        display: flex; 
    }

    #nav-links {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 50px; 
        left: 0;
        width: 100%;
        background-color: #ffffff; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    #nav-links.active {
        display: flex; 
    }

    nav ul li {
        text-align: center;
        margin: 10px 0;
    }
    h1 {
        font-size: 1.75em;
    }

    form {
        padding: 15px 30px;
        width: 70%; 
    }

    label {
        font-size: 1em;
    }

    select, input[type="number"], button {
        padding: 12px;
        font-size: 1.1em;
    }

    footer p {
        font-size: 1em;
    }

    a {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    form {
        padding: 10px 20px;
        width: 75%;
    }

    label {
        font-size: 0.9em;
    }

    select, input[type="number"], button {
        padding: 10px;
        font-size: 1em;
    }

    footer p {
        font-size: 0.85em;
    }

    a {
        font-size: 0.9em;
    }
}
